*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-size: 16px; 
    display: grid; 
    place-items: center;
    position: relative;
    overflow: hidden;  
}
.categoryContainer, .allquizes{
    position: absolute;
    width: 60%;
    height: 80vh;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform .5s ease;
}
.category{
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform .5s ease;
}
.diffOption, .typeOption{
    width: 60%;
    height: 40px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
}
.category .quizCategories{
    width: 60%;
    height: 40px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.next{
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    pointer-events: none;    
}
.btnActive{
    pointer-events: visible;
    background-color: green;
    cursor: pointer;
}
.rules{
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform .5s ease;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: 50%;    
}
.gameControls{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gameControls > *{
    width: 120px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}
.hide{
    transform: translateX(120%);
}
.hideCategory{
    transform: translateX(-120%);
}
.allquizes{
    position: absolute;
    transition: transform .5s ease;
}
.hideCategorySection{
    display: none;
}
.hideQuizesSection{
    transform: translateX(-150%);
}
.quizOuterContainer{
    width: 100%;
    height: 100%;
    border: 2px dashed rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.quizOuterContainer h3{
    text-align: center;
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 5px 30px;
}
.questionsContainer{
    width: 100%;
    height: 70%;
    overflow-y: auto; 
    position: relative;
    overflow-x: hidden;
}
.questionInnerContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transform: translateX(120%);
    transition: transform .5s ease;
}
.questionsContainer .question{
    width: 100%;
    height: auto;
    padding: 10px;   
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.choice{
    min-width: max-content;
    height: auto;
    padding: 8px;
    margin: 10px 50px 10px 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
}
.choice:hover{
    border:1px solid rgba(0, 0, 0, 0.5);
}
.nextQuestion{
    position: absolute;
    bottom: 35px;
    right: 50px;
    cursor: pointer;
    width: 130px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: green;
}
.questionActive{
    transform: translateX(0%);
}
.quizOuterContainer:has(.success){
    background-color: rgba(0, 0, 0, 0.2);
}
.head{
    width: 100%;
    text-align: center;
    color: #000;

}
.success{
    width: 100%;
    height: auto;
    color: green;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
.exit{
    width: 120px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.863);
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.success:has(.not){
    color: #fff
}
.not{
    color: #000;
    font-weight: 900;
}
.selectedChoice{
    background-color: #2596be;
}
.pointer{
    pointer-events: none;
}
@media (max-width: 660px){
    .allquizes, .categoryContainer{
        width: 98%;
    }
}
@media (max-width: 430px){
    .diffOption, .typeOption, .quizCategories{
        width: 85%;        
    }
    .gameControls{
        width: 100%;
    }
    .gameControls > *{
        width: max-content;
        padding: 0 10px 0 10px;
    }
}